.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 180px;
  width: 100px
}

.App-header {
  background-color: #800000;
  height: 90px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Past-box {
  border: 1px solid black ;
  height: 280px;
  width: 190px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  background-color: #800000;
  float: left;
  font-size: 20px;
  text-align: center;
}

.Present-box {
  border: 1px solid black ;
  height: 280px;
  width: 190px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  background-color: #800000;
  float: right;
  position: relative;
  left: -50%;
  font-size: 20px;
  text-align: center;
}

.Future-box {
  border: 1px solid black ;
  height: 280px;
  width: 190px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  background-color: #800000;
  float: right;
  font-size: 20px;
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
