body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #b48484;
    line-height: 1.8;
}

/* Create a Parallax Effect */

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url("https://i.imgur.com/J94KDUA.png");
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url("https://i.imgur.com/9T7tJ6R.png");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url("https://i.imgur.com/9T7tJ6R.png");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
